body {
  margin: 0;
  padding: 0;
}

.wrapper {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

.header {
  background: #FF0000; /* Replace with your desired background color */
  padding: 10px;
  position: fixed;
  width: 100%;
  z-index: 1000;
}

.main-container {
  flex: 1;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 70px; /* Adjust based on the height of the header */
}

.footer {
  background-color: #202525; /* Replace with your desired background color */
  color: #fff; /* Replace with your desired text color */
  padding: 10px;
  position: fixed;
  width: 100%;
  bottom: 0;
  z-index: 1000;
}
